* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

div.heading > .heading-text {
    font-family: 'Julius Sans One', sans-serif;
}

div.page-content {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.page-content .heading {
    margin-top: 3em;
    margin-bottom: 3em;
}

/* -------Form Elements---------- */
#page-form {
    height: 100%;
    display: grid;
    gap: 1em;
    grid-template-rows: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "fname lname"
    "email service"
    "country zip"
    "pass passconf"
    "how how"
    "detail detail";
}
div.form-div > label {
    font-family: 'Julius Sans One', sans-serif;
}
div.form-div > input, div.form-div > select {
    border: none;
    background-color: whitesmoke;
    height: 2rem
}

div.form-div {
    height: 4em;
    display: flex;
}
div.first-name {
    flex-direction: column;
    justify-content: center;
    grid-area: fname;
}
div.last-name {
    flex-direction: column;
    justify-content: center;
    grid-area: lname;
}
div.email {
    flex-direction: column;
    justify-content: center;
    grid-area: email;
}
div.service {
    flex-direction: column;
    justify-content: center;
    grid-area: service;
}
div.country {
    flex-direction: column;
    justify-content: center;
    grid-area: country;
}
div.zip {
    flex-direction: column;
    justify-content: center;
    grid-area: zip;
}
div.pass {
    flex-direction: column;
    justify-content: center;
    grid-area: pass;
}
div.passconf {
    flex-direction: column;
    justify-content: center;
    grid-area: passconf;
}
div.how {
    grid-area: how;
    display: flex;
    flex-direction: column;
    align-items: center;
}