* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5em;
    border-bottom: .1px solid black;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
}

div.site-title {
    display: flex;
    width: 16em;
    justify-content: center;
    align-items: center;
}
div.site-title > h1.title {
    font-family: 'Oxanium', cursive;
    font-weight: 500;
    text-transform: uppercase;
}
div.site-title > .icon {
    margin-bottom: 3px;
}
ion-icon {
    font-size: 30px;
}

div.nav-links {
    display: flex;
    width: 20em;
    justify-content: space-around;
}
div.nav-links > a {
    font-family: 'Oxanium', cursive;
}

div.heading > .heading-text {
    font-family: 'Julius Sans One', sans-serif;
    user-select: none;
}

div.page-content {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.page-content .heading {
    margin-top: 3em;
    margin-bottom: 3em;
}

/* -------Form Elements---------- */
#page-form {
    height: 100%;
    display: grid;
    gap: 1em;
    grid-template-rows: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "fname lname"
    "email service"
    "country zip"
    "pass passconf"
    "how how"
    "submit submit";
}
div.form-div > label {
    font-family: 'Julius Sans One', sans-serif;
    user-select: none;
    padding-bottom: .2em;
}
div.form-div > input, div.form-div > select {
    border: none;
    border-radius: 0;
    background-color: whitesmoke;
    height: 2rem;
}
/* Make text typed into input centered. */
div.form-div > input {
    padding: 1em;
}
div.form-div > input:focus, div.form-div > select:focus {
    box-sizing: border-box;
    outline: 2px solid black;
}

div.form-div {
    height: 4em;
    display: flex;
}
div.first-name {
    flex-direction: column;
    justify-content: center;
    grid-area: fname;
}
div.last-name {
    flex-direction: column;
    justify-content: center;
    grid-area: lname;
}
div.email {
    flex-direction: column;
    justify-content: center;
    grid-area: email;
}
div.service {
    flex-direction: column;
    justify-content: center;
    grid-area: service;
}
div.country {
    flex-direction: column;
    justify-content: center;
    grid-area: country;
}
div.zip {
    flex-direction: column;
    justify-content: center;
    grid-area: zip;
}
div.pass {
    flex-direction: column;
    justify-content: center;
    grid-area: pass;
}
div.passconf {
    flex-direction: column;
    justify-content: center;
    grid-area: passconf;
}
div.how {
    grid-area: how;
    display: flex;
    flex-direction: column;
    align-items: center;
}